:host {
  color: blueviolet;
}

.example-container{
  height: calc(100% - 50px);
}

.content {
  padding: 20px;
}

.small-btn{
  padding: 0 5px !important;
  font-size: 12px !important;
  
}
.mat-button-wrapper{
  margin: 0 !important;
}

.text-white {
  color: white;
}