/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.bg-green {
    background-color: rgb(58, 156, 94);
}

.text-white {
    color: white;
}